@import "theme";

.clickable {
  cursor: pointer;
}

.header_main {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;

  width: 100%;
  background: @secondary-background;
  color: @text-color;

  border-bottom: 1px solid @border-color;
}

.title {
  padding: 0.7em;
}

.right_panel {
  display: flex;
  align-self: stretch;
}

.item {
  display: flex;
  align-items: center;
  padding: 16px 44px;

  border-right: 1px solid @border-color;
}

.item:hover {
  background: @header-item-hover-color;
}

.first-item {
  border-right: none;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  background: @address-color;
  text-align: center;

  padding: 16px;
  font-size: 18px;
}

.your_address {
  padding-left: 8px;
}

.last-item {
  margin-left: 0;
  border-left: 1px solid @border-color;
}

.big {
  font-size: 32px !important;
  padding-right: 8px;
}

.title {
  display: flex;
  justify-content: center;

  width: 10%;
  border-right: 1px solid @border-color;
  font-size: 24px;
}

@media (max-width: 700px) {
  .title {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid @border-color;
  }

  .header_main {
    flex-direction: column;
  }

  .right_panel {
    flex-direction: column;
  }

  .item {
    justify-content: center;
    border-top: 1px solid @border-color;

    margin: 0;
    border-left: none;
    border-right: none;
  }

  #cart_button {
    display: none;
  }

  .title {
    margin: auto;
    width: auto;
    text-align: center;
  }

  .address {
    width: auto;
  }
}