@body-color: #f6f6f6;

@hover-color: #e3e4e5;

// Header
@border-color: #e3e4e6;
@secondary-background: #ffffff;
@main-text-color: #000000;
@header-item-hover-color: @hover-color;
@address-color: #e3e4e6;

@login-button-color: #e3e4e5;
@active-login-button-color: @login-button-color;

// Chips
@chip-background: #F6F6F6;
@secondary-text-color: #393939;
@chip-hover-color: @hover-color;
@chip-border-color: #BFBDBD;

// Footer
@footer-color: @border-color;

// Delete button in cart overlay
@delete-button-hover-color: #ba000d;
@delete-button-color: #f44336;
